In [1]:
# imports
import requests
import pandas as pd
import time

# Foursquare

Send a request to Foursquare with a small radius (1000m) for all the bike stations in your city of choice.

In [2]:
df = pd.read_csv('data_city_bikes.csv',index_col=0)
df

                                  name   latitude  longitude  num_bikes
0                         GEORGES LANE  53.350230  -6.279696          2
1    NORTH CIRCULAR ROAD (O'CONNELL'S)  53.357841  -6.251557          8
2                    PHIBSBOROUGH ROAD  53.356307  -6.273717          6
3                     SMITHFIELD NORTH  53.349562  -6.278198         12
4                       CLONMEL STREET  53.336021  -6.262980         14
..                                 ...        ...        ...        ...
109                  JAMES STREET EAST  53.336597  -6.248109         11
110               PARNELL SQUARE NORTH  53.353742  -6.265301          2
111                FOWNES STREET UPPER  53.344603  -6.263371         10
112                         SMITHFIELD  53.347692  -6.278214         26
113                     FRANCIS STREET  53.342081  -6.275233          7

[114 rows x 4 columns]

In [3]:
row = df.iloc[-1]

In [4]:
headers = {
    "accept": "application/json",
    "Authorization": "fsq3ZwIMb9P4R5leIzSU953fFKlF7E41cJZKLQrI6f1otGk="
}

url = "https://api.foursquare.com/v3/places/search"

ll =  str(row['latitude'])+','+ str(row['longitude'] )

params = {
  	"query": "coffee,restaurant,park,supermarket",
  	"ll": ll ,
  	"open_now": "true",
  	"sort":"DISTANCE",
    'radius':'1000',
    'fields':'name,rating,location,stats,distance',
}

headers = {
    "Accept": "application/json",
    "Authorization": "fsq3ZwIMb9P4R5leIzSU953fFKlF7E41cJZKLQrI6f1otGk="
}

response = requests.request("GET", url, params=params, headers=headers)

print(response.json())

{'results': [{'distance': 138, 'location': {'address': 'La Rochelle Building, High Street, Christchurch, City Centre South', 'admin_region': 'Leinster', 'country': 'IE', 'cross_street': 'Lamb Alley', 'formatted_address': 'La Rochelle Building, High Street, Christchurch, City Centre South (Lamb Alley), Dublin, Dublin City', 'locality': 'Dublin', 'postcode': 'Dublin 8', 'region': 'Dublin City'}, 'name': 'The Riddler Restaurant', 'rating': 6.2, 'stats': {'total_photos': 4, 'total_ratings': 17, 'total_tips': 4}}, {'distance': 241, 'location': {'address': '1 Meath Mart Meath Street The Liberties', 'admin_region': 'Leinster', 'country': 'IE', 'cross_street': 'Meath St', 'formatted_address': '1 Meath Mart Meath Street The Liberties (Meath St), Dublin, Dublin City', 'locality': 'Dublin', 'postcode': 'Dublin 8', 'region': 'Dublin City'}, 'name': 'Legit Coffee Co', 'rating': 8.4, 'stats': {'total_photos': 40, 'total_ratings': 60, 'total_tips': 11}}, {'distance': 328, 'location': {'address': '74 Francis St', 'admin_region': 'Leinster', 'country': 'IE', 'cross_street': '', 'formatted_address': '74 Francis St, Dublin, Dublin City', 'locality': 'Dublin', 'region': 'Dublin City'}, 'name': 'Two Pups Coffee', 'rating': 8.5, 'stats': {'total_photos': 41, 'total_ratings': 71, 'total_tips': 17}}, {'distance': 345, 'location': {'address': "27 Merchant's Quay", 'admin_region': 'Leinster', 'country': 'IE', 'cross_street': '', 'formatted_address': "27 Merchant's Quay, Dublin", 'locality': 'Dublin'}, 'name': 'Craft Coffee Roasters', 'rating': 8.0, 'stats': {'total_photos': 19, 'total_ratings': 37, 'total_tips': 8}}, {'distance': 352, 'location': {'address': 'Werburgh St', 'country': 'IE', 'cross_street': '', 'formatted_address': 'Werburgh St', 'postcode': 'Dublin 8'}, 'name': 'Q-Park Christchurch'}, {'distance': 355, 'location': {'address': 'Bride St', 'country': 'IE', 'cross_street': '', 'formatted_address': 'Bride St, Dublin, Dublin City', 'locality': 'Dublin', 'postcode': 'Dublin 2', 'region': 'Dublin City'}, 'name': 'Park Rite Christchurch Car Park'}, {'distance': 389, 'location': {'address': "15-21 Usher's Quay", 'admin_region': 'Leinster', 'country': 'IE', 'cross_street': '', 'formatted_address': "15-21 Usher's Quay", 'postcode': 'Dublin 8'}, 'name': 'Q-Park Four Courts'}, {'distance': 559, 'location': {'address': '151 Thomas Street The Masonry', 'admin_region': 'Leinster', 'country': 'IE', 'cross_street': '', 'formatted_address': '151 Thomas Street The Masonry, Dublin', 'locality': 'Dublin', 'postcode': 'Dublin 8'}, 'name': 'Vandal Cafe & Restaurant'}, {'distance': 585, 'location': {'address': 'The Glass House, 11 Coke Lane', 'admin_region': 'Leinster', 'country': 'IE', 'formatted_address': 'The Glass House, 11 Coke Lane, Dublin, Dublin City', 'locality': 'Dublin', 'postcode': 'Dublin 7', 'region': 'Dublin City'}, 'name': 'Urbanity Coffee', 'rating': 9.3, 'stats': {'total_photos': 75, 'total_ratings': 203, 'total_tips': 68}}, {'distance': 613, 'location': {'address': '161 Thomas St', 'admin_region': 'Leinster', 'country': 'IE', 'cross_street': '', 'formatted_address': '161 Thomas St, Dublin', 'locality': 'Dublin', 'postcode': 'Dublin 8'}, 'name': 'Container Coffee', 'rating': 8.8, 'stats': {'total_photos': 16, 'total_ratings': 17, 'total_tips': 1}}], 'context': {'geo_bounds': {'circle': {'center': {'latitude': 53.342081, 'longitude': -6.275233}, 'radius': 1000}}}}

In [5]:
response.json()['results']

[{'distance': 138,
  'location': {'address': 'La Rochelle Building, High Street, Christchurch, City Centre South',
   'admin_region': 'Leinster',
   'country': 'IE',
   'cross_street': 'Lamb Alley',
   'formatted_address': 'La Rochelle Building, High Street, Christchurch, City Centre South (Lamb Alley), Dublin, Dublin City',
   'locality': 'Dublin',
   'postcode': 'Dublin 8',
   'region': 'Dublin City'},
  'name': 'The Riddler Restaurant',
  'rating': 6.2,
  'stats': {'total_photos': 4, 'total_ratings': 17, 'total_tips': 4}},
 {'distance': 241,
  'location': {'address': '1 Meath Mart Meath Street The Liberties',
   'admin_region': 'Leinster',
   'country': 'IE',
   'cross_street': 'Meath St',
   'formatted_address': '1 Meath Mart Meath Street The Liberties (Meath St), Dublin, Dublin City',
   'locality': 'Dublin',
   'postcode': 'Dublin 8',
   'region': 'Dublin City'},
  'name': 'Legit Coffee Co',
  'rating': 8.4,
  'stats': {'total_photos': 40, 'total_ratings': 60, 'total_tips': 11}},
 {'distance': 328,
  'location': {'address': '74 Francis St',
   'admin_region': 'Leinster',
   'country': 'IE',
   'cross_street': '',
   'formatted_address': '74 Francis St, Dublin, Dublin City',
   'locality': 'Dublin',
   'region': 'Dublin City'},
  'name': 'Two Pups Coffee',
  'rating': 8.5,
  'stats': {'total_photos': 41, 'total_ratings': 71, 'total_tips': 17}},
 {'distance': 345,
  'location': {'address': "27 Merchant's Quay",
   'admin_region': 'Leinster',
   'country': 'IE',
   'cross_street': '',
   'formatted_address': "27 Merchant's Quay, Dublin",
   'locality': 'Dublin'},
  'name': 'Craft Coffee Roasters',
  'rating': 8.0,
  'stats': {'total_photos': 19, 'total_ratings': 37, 'total_tips': 8}},
 {'distance': 352,
  'location': {'address': 'Werburgh St',
   'country': 'IE',
   'cross_street': '',
   'formatted_address': 'Werburgh St',
   'postcode': 'Dublin 8'},
  'name': 'Q-Park Christchurch'},
 {'distance': 355,
  'location': {'address': 'Bride St',
   'country': 'IE',
   'cross_street': '',
   'formatted_address': 'Bride St, Dublin, Dublin City',
   'locality': 'Dublin',
   'postcode': 'Dublin 2',
   'region': 'Dublin City'},
  'name': 'Park Rite Christchurch Car Park'},
 {'distance': 389,
  'location': {'address': "15-21 Usher's Quay",
   'admin_region': 'Leinster',
   'country': 'IE',
   'cross_street': '',
   'formatted_address': "15-21 Usher's Quay",
   'postcode': 'Dublin 8'},
  'name': 'Q-Park Four Courts'},
 {'distance': 559,
  'location': {'address': '151 Thomas Street The Masonry',
   'admin_region': 'Leinster',
   'country': 'IE',
   'cross_street': '',
   'formatted_address': '151 Thomas Street The Masonry, Dublin',
   'locality': 'Dublin',
   'postcode': 'Dublin 8'},
  'name': 'Vandal Cafe & Restaurant'},
 {'distance': 585,
  'location': {'address': 'The Glass House, 11 Coke Lane',
   'admin_region': 'Leinster',
   'country': 'IE',
   'formatted_address': 'The Glass House, 11 Coke Lane, Dublin, Dublin City',
   'locality': 'Dublin',
   'postcode': 'Dublin 7',
   'region': 'Dublin City'},
  'name': 'Urbanity Coffee',
  'rating': 9.3,
  'stats': {'total_photos': 75, 'total_ratings': 203, 'total_tips': 68}},
 {'distance': 613,
  'location': {'address': '161 Thomas St',
   'admin_region': 'Leinster',
   'country': 'IE',
   'cross_street': '',
   'formatted_address': '161 Thomas St, Dublin',
   'locality': 'Dublin',
   'postcode': 'Dublin 8'},
  'name': 'Container Coffee',
  'rating': 8.8,
  'stats': {'total_photos': 16, 'total_ratings': 17, 'total_tips': 1}}]

Parse through the response to get the POI (such as restaurants, bars, etc) details you want (ratings, name, location, etc)

In [6]:
name = []
rating = []
formatted_address = []
station_name = []
review_count = []
distance = []

for i,row in df.iterrows():


  # for each station
  url = "https://api.foursquare.com/v3/places/search"

  ll =  str(row['latitude'])+','+ str(row['longitude'] )

  params = {
      "query": "coffee,restaurant,park,supermarket",
      "ll": ll ,
      "open_now": "true",
      "sort":"rating",
      'radius':'1000',
      'fields':'name,rating,location,stats,distance',
  }

  headers = {
      "Accept": "application/json",
      "Authorization": "fsq3ZwIMb9P4R5leIzSU953fFKlF7E41cJZKLQrI6f1otGk="
  }

  response = requests.request("GET", url, params=params, headers=headers)
  # print(row)
  for r in response.json()['results']:
    name.append(r['name'])
    try:
      rating.append(r['rating'])
    except KeyError:
      rating.append(None)
    station_name.append(row['name'])
    formatted_address.append(r['location']['formatted_address'])
    try : 
      review_count.append(r['stats']['total_ratings'])
    
    except KeyError:
      review_count.append(None)
    
    distance.append(r['distance'])
  time.sleep(1.1)  ##  to reduce the number  of call per minute

Put your parsed results into a DataFrame

In [7]:
fs_df = pd.DataFrame({'station_name': station_name, 'name':name, 'rating':rating, 'Address':formatted_address,'rating_counts':review_count , 'distance':distance})
fs_df

,station_name,name,rating,Address,rating_counts,distance
0,GEORGES LANE,Phoenix Park,9.5,"Parkgate St, Dublin, Dublin City",803.0,2049
1,GEORGES LANE,Urbanity Coffee,9.3,"The Glass House, 11 Coke Lane, Dublin, Dublin ...",203.0,380
2,GEORGES LANE,Container Coffee,8.8,"161 Thomas St, Dublin",17.0,800
3,GEORGES LANE,Legit Coffee Co,8.4,1 Meath Mart Meath Street The Liberties (Meath...,60.0,993
4,GEORGES LANE,Groundstate Coffee,8.3,"48- 50 Jamesâ€™s Street, Dublin, D08 YK6N, Dublin",18.0,970
...,...,...,...,...,...,...
1017,FRANCIS STREET,Groundstate Coffee,8.3,"48- 50 Jamesâ€™s Street, Dublin, D08 YK6N, Dublin",18.0,894
1018,FRANCIS STREET,The Coffee Bean,8.1,"64 Mary St, Dublin, Dublin City",14.0,844
1019,FRANCIS STREET,Proper Order Coffee Co.,8.1,"7 Haymarket, Smithfield, Dublin, Dublin City",82.0,671
1020,FRANCIS STREET,Craft Coffee Roasters,8.0,"27 Merchant's Quay, Dublin",37.0,345
1021,FRANCIS STREET,The Quays Irish Restaurant,8.0,"10-12 Temple Bar Square, Dublin, Dublin City",293.0,891

# Yelp

Send a request to Yelp with a small radius (1000m) for all the bike stations in your city of choice.

In [8]:


# Set the API endpoint URL
url = 'https://api.yelp.com/v3/businesses/search'

# Set the custom headers
headers = {
      "Authorization": "Bearer Oe3xHlF_eKs-F8e8Nlt5XIipXfRO3WYRD8Bo9Lu-xTBUx8Yzrf1fE92msJkMyxrqabPkZWvHoWGOM8AsBuOaGdyZ6l-9NUahFaA6pTl8mTyOLhau77MJCwQ3yWhEZHYx",

    'Content-Type': 'application/json'
}

# Set the search parameters
params = {
    'term': 'coffee,restaurants,parks',
    'latitude': row['latitude'],
    'longitude': row['longitude'],
    'radius': 1000,
    'limit': 10,
    'sort_by': 'rating',
    'open_now':True,
    
}

# Send the API request with custom headers and parameters
response = requests.get(url, headers=headers, params=params)

# Print the API response in JSON format
print(response.json()['businesses'])

[{'id': 'bDitDyqTxJXGIgmOXQNYsg', 'alias': 'urbanity-dublin', 'name': 'Urbanity', 'image_url': 'https://s3-media4.fl.yelpcdn.com/bphoto/SYjMpiCRvuiDqmoYVmtfbA/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/urbanity-dublin?adjust_creative=E4iyVuEI7UNYZfLztysOtw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=E4iyVuEI7UNYZfLztysOtw', 'review_count': 49, 'categories': [{'alias': 'cafes', 'title': 'Cafes'}, {'alias': 'coffeeroasteries', 'title': 'Coffee Roasteries'}], 'rating': 4.5, 'coordinates': {'latitude': 53.3468182892839, 'longitude': -6.27911332994699}, 'transactions': [], 'price': 'â‚¬', 'location': {'address1': 'The Glass House', 'address2': '11 Coke Lane', 'address3': 'Smithfield', 'city': 'Dublin', 'zip_code': '7', 'country': 'IE', 'state': 'D', 'display_address': ['The Glass House', '11 Coke Lane', 'Smithfield', 'Dublin 7', 'Republic of Ireland']}, 'phone': '+35318747288', 'display_phone': '+353 1 874 7288', 'distance': 586.3710020722482}, {'id': 'rKvPQZcgjrQOLRU0phPoAQ', 'alias': 'queen-of-tarts-dublin-4', 'name': 'Queen of Tarts', 'image_url': 'https://s3-media4.fl.yelpcdn.com/bphoto/ITd2lBBujCDyCL-Eqswq3Q/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/queen-of-tarts-dublin-4?adjust_creative=E4iyVuEI7UNYZfLztysOtw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=E4iyVuEI7UNYZfLztysOtw', 'review_count': 516, 'categories': [{'alias': 'desserts', 'title': 'Desserts'}, {'alias': 'tea', 'title': 'Tea Rooms'}, {'alias': 'breakfast_brunch', 'title': 'Breakfast & Brunch'}], 'rating': 4.5, 'coordinates': {'latitude': 53.3441209863508, 'longitude': -6.26752853393555}, 'transactions': [], 'price': 'â‚¬â‚¬', 'location': {'address1': 'Cork Hill', 'address2': 'Dame Street', 'address3': '', 'city': 'Dublin', 'zip_code': '2', 'country': 'IE', 'state': 'D', 'display_address': ['Cork Hill', 'Dame Street', 'Dublin 2', 'Republic of Ireland']}, 'phone': '+35316707499', 'display_phone': '+353 1 670 7499', 'distance': 559.5110110504769}, {'id': '5APJX2VA-sygoain4Gm3cQ', 'alias': 'wuff-smithfield', 'name': 'Wuff', 'image_url': 'https://s3-media1.fl.yelpcdn.com/bphoto/0YgN04jlBL3X9bWYD5VWtQ/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/wuff-smithfield?adjust_creative=E4iyVuEI7UNYZfLztysOtw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=E4iyVuEI7UNYZfLztysOtw', 'review_count': 115, 'categories': [{'alias': 'breakfast_brunch', 'title': 'Breakfast & Brunch'}, {'alias': 'bistros', 'title': 'Bistros'}], 'rating': 4.5, 'coordinates': {'latitude': 53.347458969584, 'longitude': -6.282445791346}, 'transactions': [], 'price': 'â‚¬â‚¬', 'location': {'address1': '23 Benburb Street', 'address2': '', 'address3': '', 'city': 'Smithfield', 'zip_code': '7', 'country': 'IE', 'state': 'D', 'display_address': ['23 Benburb Street', 'Smithfield, 7', 'Republic of Ireland']}, 'phone': '+35315320347', 'display_phone': '+353 1 532 0347', 'distance': 766.0701515003559}, {'id': 'I2CmNYbztdql_Ckp9SpalA', 'alias': 'bittersweet-cafe-castlegate', 'name': 'Bittersweet Cafe', 'image_url': 'https://s3-media2.fl.yelpcdn.com/bphoto/G1R3LaYjcoSv3uaLJSQYYg/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/bittersweet-cafe-castlegate?adjust_creative=E4iyVuEI7UNYZfLztysOtw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=E4iyVuEI7UNYZfLztysOtw', 'review_count': 21, 'categories': [{'alias': 'salad', 'title': 'Salad'}, {'alias': 'cafes', 'title': 'Cafes'}], 'rating': 4.5, 'coordinates': {'latitude': 53.343742, 'longitude': -6.268968}, 'transactions': [], 'price': 'â‚¬', 'location': {'address1': 'Unit 3', 'address2': 'Lord Edward Street', 'address3': '', 'city': 'Castlegate', 'zip_code': '2', 'country': 'IE', 'state': 'D', 'display_address': ['Unit 3', 'Lord Edward Street', 'Castlegate, 2', 'Republic of Ireland']}, 'phone': '+353877371690', 'display_phone': '+353 87 737 1690', 'distance': 455.073508692839}, {'id': 'LG37RcSre8vSlS-5uJE2DA', 'alias': 'the-bakehouse-dublin', 'name': 'The Bakehouse', 'image_url': 'https://s3-media3.fl.yelpcdn.com/bphoto/J2rJcHnhrbIFms9NSHFsuQ/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/the-bakehouse-dublin?adjust_creative=E4iyVuEI7UNYZfLztysOtw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=E4iyVuEI7UNYZfLztysOtw', 'review_count': 260, 'categories': [{'alias': 'bakeries', 'title': 'Bakeries'}, {'alias': 'coffee', 'title': 'Coffee & Tea'}, {'alias': 'breakfast_brunch', 'title': 'Breakfast & Brunch'}], 'rating': 4.5, 'coordinates': {'latitude': 53.3468856, 'longitude': -6.262582}, 'transactions': [], 'price': 'â‚¬', 'location': {'address1': '6 Bachelors Walk', 'address2': '', 'address3': '', 'city': 'Dublin', 'zip_code': '1', 'country': 'IE', 'state': 'D', 'display_address': ['6 Bachelors Walk', 'Dublin 1', 'Republic of Ireland']}, 'phone': '+35318734279', 'display_phone': '+353 1 873 4279', 'distance': 995.3464934733955}, {'id': 'P3yMNMe5rqc69LUnXgdUOg', 'alias': 'bibis-cafe-dublin-3', 'name': "Bibi's Cafe", 'image_url': 'https://s3-media2.fl.yelpcdn.com/bphoto/bhy8xMShA07I1CwsAn0UGw/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/bibis-cafe-dublin-3?adjust_creative=E4iyVuEI7UNYZfLztysOtw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=E4iyVuEI7UNYZfLztysOtw', 'review_count': 70, 'categories': [{'alias': 'coffee', 'title': 'Coffee & Tea'}, {'alias': 'breakfast_brunch', 'title': 'Breakfast & Brunch'}], 'rating': 4.5, 'coordinates': {'latitude': 53.3336566, 'longitude': -6.2726184}, 'transactions': [], 'price': 'â‚¬â‚¬', 'location': {'address1': '14b Emorville Ave', 'address2': '', 'address3': '', 'city': 'Dublin', 'zip_code': '8', 'country': 'IE', 'state': 'D', 'display_address': ['14b Emorville Ave', 'Dublin 8', 'Republic of Ireland']}, 'phone': '+35314547421', 'display_phone': '+353 1 454 7421', 'distance': 952.6984316901179}, {'id': '7-jSaf5DJ7iEQlwpCRuL_A', 'alias': 'hanleys-cornish-pasties-dublin-2', 'name': "Hanley's Cornish Pasties", 'image_url': 'https://s3-media3.fl.yelpcdn.com/bphoto/pFkpo0YGXUqLLpjTNANF-g/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/hanleys-cornish-pasties-dublin-2?adjust_creative=E4iyVuEI7UNYZfLztysOtw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=E4iyVuEI7UNYZfLztysOtw', 'review_count': 55, 'categories': [{'alias': 'british', 'title': 'British'}, {'alias': 'coffee', 'title': 'Coffee & Tea'}], 'rating': 4.5, 'coordinates': {'latitude': 53.3457686912378, 'longitude': -6.26287490129471}, 'transactions': [], 'price': 'â‚¬', 'location': {'address1': '2 Merchants Arch', 'address2': 'Temple Bar', 'address3': '', 'city': 'Dublin', 'zip_code': '2', 'country': 'IE', 'state': 'D', 'display_address': ['2 Merchants Arch', 'Temple Bar', 'Dublin 2', 'Republic of Ireland']}, 'phone': '+353899757272', 'display_phone': '+353 89 975 7272', 'distance': 917.1559824041467}, {'id': 'lcpRgaOeSK7PpG4MWUNIiA', 'alias': 'san-lorenzos-dublin-2', 'name': "San Lorenzo's", 'image_url': 'https://s3-media1.fl.yelpcdn.com/bphoto/di3MVzncZUg9YPm7tQHTJQ/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/san-lorenzos-dublin-2?adjust_creative=E4iyVuEI7UNYZfLztysOtw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=E4iyVuEI7UNYZfLztysOtw', 'review_count': 151, 'categories': [{'alias': 'italian', 'title': 'Italian'}, {'alias': 'breakfast_brunch', 'title': 'Breakfast & Brunch'}, {'alias': 'steak', 'title': 'Steakhouses'}], 'rating': 4.5, 'coordinates': {'latitude': 53.3434346, 'longitude': -6.2646673}, 'transactions': [], 'price': 'â‚¬â‚¬', 'location': {'address1': 'Unit 9, Castle House', 'address2': 'S Great Georges Street', 'address3': '', 'city': 'Dublin', 'zip_code': '2', 'country': 'IE', 'state': 'D', 'display_address': ['Unit 9, Castle House', 'S Great Georges Street', 'Dublin 2', 'Republic of Ireland']}, 'phone': '+35314789383', 'display_phone': '+353 1 478 9383', 'distance': 717.384479136611}, {'id': '5GBDhxRssMUqBTvPU5lKWg', 'alias': 'the-tram-cafe-dublin', 'name': 'The Tram Cafe', 'image_url': 'https://s3-media1.fl.yelpcdn.com/bphoto/YAlWF9w3FhPbW65UnRk5PA/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/the-tram-cafe-dublin?adjust_creative=E4iyVuEI7UNYZfLztysOtw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=E4iyVuEI7UNYZfLztysOtw', 'review_count': 12, 'categories': [{'alias': 'cafes', 'title': 'Cafes'}, {'alias': 'breakfast_brunch', 'title': 'Breakfast & Brunch'}], 'rating': 4.0, 'coordinates': {'latitude': 53.3476802347879, 'longitude': -6.26673532348437}, 'transactions': [], 'price': 'â‚¬', 'location': {'address1': '1 Wolfe Tone Square W', 'address2': '', 'address3': '', 'city': 'Dublin', 'zip_code': '1', 'country': 'IE', 'state': 'D', 'display_address': ['1 Wolfe Tone Square W', 'Dublin 1', 'Republic of Ireland']}, 'phone': '+353838532618', 'display_phone': '+353 83 853 2618', 'distance': 840.1474848787739}, {'id': '5uLeqyTiFGZ1ekcTkdteDQ', 'alias': 'the-cake-cafÃ©-dublin-2', 'name': 'The Cake CafÃ©', 'image_url': 'https://s3-media2.fl.yelpcdn.com/bphoto/e4Yih4RmPuvTvlqUWCbGmQ/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/the-cake-caf%C3%A9-dublin-2?adjust_creative=E4iyVuEI7UNYZfLztysOtw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=E4iyVuEI7UNYZfLztysOtw', 'review_count': 82, 'categories': [{'alias': 'cafes', 'title': 'Cafes'}, {'alias': 'breakfast_brunch', 'title': 'Breakfast & Brunch'}, {'alias': 'cookingclasses', 'title': 'Cooking Classes'}], 'rating': 4.0, 'coordinates': {'latitude': 53.33482, 'longitude': -6.266116}, 'transactions': [], 'price': 'â‚¬â‚¬', 'location': {'address1': 'The Daintree Building', 'address2': 'Pleasants Place', 'address3': '', 'city': 'Dublin', 'zip_code': '2', 'country': 'IE', 'state': 'D', 'display_address': ['The Daintree Building', 'Pleasants Place', 'Dublin 2', 'Republic of Ireland']}, 'phone': '+35314789394', 'display_phone': '+353 1 478 9394', 'distance': 1009.0911919313621}]

In [9]:
response.json()['businesses'][0]['distance']

586.3710020722482

Parse through the response to get the POI (such as restaurants, bars, etc) details you want (ratings, name, location, etc)

In [10]:
name = []
rating = []
formatted_address = []
station_name = []
review_count = []
distance = []

for i,row in df.iterrows():


  # for each station
  # Set the API endpoint URL
  url = 'https://api.yelp.com/v3/businesses/search'

  # Set the custom headers
  headers = {
        "Authorization": "Bearer Oe3xHlF_eKs-F8e8Nlt5XIipXfRO3WYRD8Bo9Lu-xTBUx8Yzrf1fE92msJkMyxrqabPkZWvHoWGOM8AsBuOaGdyZ6l-9NUahFaA6pTl8mTyOLhau77MJCwQ3yWhEZHYx",

      'Content-Type': 'application/json'
  }

  # Set the search parameters
  params = {
      'term': 'coffee,restaurants,parks',
       'categories': 'coffee,restaurants,parks',
      'latitude': row['latitude'],
      'longitude': row['longitude'],
      'radius': 1000,
      'limit': 10,
      'sort_by': 'rating',
      'open_now':True,
      }

  print(i)

  response = requests.request("GET", url, params=params, headers=headers)
    # print(row)
  for r in response.json()['businesses']:
    name.append(r['name'])
    try:
      rating.append(r['rating'])
    except KeyError:
      rating.append(None)
    station_name.append(row['name'])
    formatted_address.append(" ".join(r['location']['display_address']))

    try:
      review_count.append(r['review_count'])
    except KeyError:
      review_count.append(None)
    
    distance.append(r['distance'])
  time.sleep(1.1)  ##  to reduce the number  of call per minute

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113

Put your parsed results into a DataFrame

In [11]:
yelp_df = pd.DataFrame({'station_name': station_name, 'name':name, 'rating':rating, 'Address':formatted_address,'rating_counts':review_count ,'distance':distance})
yelp_df

,station_name,name,rating,Address,rating_counts,distance
0,GEORGES LANE,Urbanity,4.5,The Glass House 11 Coke Lane Smithfield Dublin...,49,381.330910
1,GEORGES LANE,Queen of Tarts,4.5,Cork Hill Dame Street Dublin 2 Republic of Ire...,516,1055.350508
2,GEORGES LANE,Wuff,4.5,"23 Benburb Street Smithfield, 7 Republic of Ir...",115,358.126938
3,GEORGES LANE,Bittersweet Cafe,4.5,"Unit 3 Lord Edward Street Castlegate, 2 Republ...",21,1013.696469
4,GEORGES LANE,San Lorenzo's,4.5,"Unit 9, Castle House S Great Georges Street Du...",151,1251.465018
...,...,...,...,...,...,...
731,FRANCIS STREET,Bibi's Cafe,4.5,14b Emorville Ave Dublin 8 Republic of Ireland,70,952.698432
732,FRANCIS STREET,Hanley's Cornish Pasties,4.5,2 Merchants Arch Temple Bar Dublin 2 Republic ...,55,917.155982
733,FRANCIS STREET,San Lorenzo's,4.5,"Unit 9, Castle House S Great Georges Street Du...",151,717.384479
734,FRANCIS STREET,The Tram Cafe,4.0,1 Wolfe Tone Square W Dublin 1 Republic of Ire...,12,840.147485
735,FRANCIS STREET,The Cake CafÃ©,4.0,The Daintree Building Pleasants Place Dublin 2...,82,1009.091192

In [12]:
len(station_name)

736

In [13]:
df

                                  name   latitude  longitude  num_bikes
0                         GEORGES LANE  53.350230  -6.279696          2
1    NORTH CIRCULAR ROAD (O'CONNELL'S)  53.357841  -6.251557          8
2                    PHIBSBOROUGH ROAD  53.356307  -6.273717          6
3                     SMITHFIELD NORTH  53.349562  -6.278198         12
4                       CLONMEL STREET  53.336021  -6.262980         14
..                                 ...        ...        ...        ...
109                  JAMES STREET EAST  53.336597  -6.248109         11
110               PARNELL SQUARE NORTH  53.353742  -6.265301          2
111                FOWNES STREET UPPER  53.344603  -6.263371         10
112                         SMITHFIELD  53.347692  -6.278214         26
113                     FRANCIS STREET  53.342081  -6.275233          7

[114 rows x 4 columns]

# Comparing Results

Which API provided you with more complete data? Provide an explanation.

the foursquare api seem to provide more information as it provided around 440 datapoints (with repetition_) but it outperformed the yelp data.


they both aslo could produce similar location data.

Get the top 10 restaurants according to their rating

In [14]:
fs_df.sort_values('rating',ascending = False).head()

,station_name,name,rating,Address,rating_counts,distance
0,GEORGES LANE,Phoenix Park,9.5,"Parkgate St, Dublin, Dublin City",803.0,2049
621,ROYAL HOSPITAL,Phoenix Park,9.5,"Parkgate St, Dublin, Dublin City",803.0,1244
702,JAMES STREET,Phoenix Park,9.5,"Parkgate St, Dublin, Dublin City",803.0,1785
29,SMITHFIELD NORTH,Phoenix Park,9.5,"Parkgate St, Dublin, Dublin City",803.0,2155
534,MOUNT BROWN,Phoenix Park,9.5,"Parkgate St, Dublin, Dublin City",803.0,1425

In [15]:
fs_df.to_csv('fs_Data.csv')

In [16]:
yelp_df.to_csv('yelp.csv')

In [17]:
df.sample(7)

                 name   latitude  longitude  num_bikes
66   YORK STREET WEST  53.339334  -6.264699         19
113    FRANCIS STREET  53.342081  -6.275233          7
58       GEORGES QUAY  53.347508  -6.252192          5
30    SOUTH DOCK ROAD  53.341833  -6.231291          3
98      BOLTON STREET  53.351182  -6.269859          6
10   YORK STREET EAST  53.338755  -6.262003         10
3    SMITHFIELD NORTH  53.349562  -6.278198         12